- content_for :title do
  =@tag ? @tag.name : 'All'
  items

= render image_index? ? 'items/image_index' : 'items/text_index'

- content_for :links do
  = link_to 'New Item', new_item_path if can? :create, Item
