textarea
  height: 70px

form
  display: table
  .field
    display: table-row
    label, input, textarea, select
      display: table-cell
    label
      vertical-align: top

.links, .actions
  margin: 20px 0
