svg
  [owner=district] [location]
    fill: white !important
    &:hover
      fill: red !important

  [location][selected]
    fill: blue !important

#location_edit
  #item_location
    display: none
  #location
    width: 3em
