#location_page
  #location
    width: 3em
  #item_location
    display: none
  form
    display: inline
  .actions
    display: none
  [location]
    pointer-events: all

  [location][selected]
    fill: blue !important
    & + text
      fill: white
  &.editable
    [location]
      &:hover
        fill: lighten(blue, 20%) !important
    .actions
      display: block
